body {
    font-family: Courier/*"IBM Plex Mono", monospace*/;
    --background-color: #000;
    --accent-color: rgb(0, 255, 0);
    background-color: var(--background-color);
    color: var(--accent-color);
    font-size: .9rem;
    padding: 0px 20px;
}

h1 {
    text-align: center;
    font-weight: normal;
    max-width: 600px;
    font-size: .9rem;
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    display: block;
    margin: 10px;
    text-align: left;
}

td, th {
    border: 1px solid transparent; /*var(--accent-color);*/
    padding: 7px;
    /*min-width: 87px;*/
    vertical-align: top;
    font-weight: normal;
}

.table-container {
    margin: auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
}

table:has(#h-hp), table:has(#h-wins) {
    display: inline-block;
}

.directions {
    margin-top: 30px;
    max-width: 600px;
    margin: auto;
}

@property --bGradientHex1 {
    syntax: "<color>";
    initial-value: #00ff77;
    inherits: false;
}

@property --bGradientHex2 {
    syntax: "<color>";
    initial-value: #00ff77;
    inherits: false;
}

#button-container {
    max-width: 600px;
    /*display: flex;
    justify-content: center;
    gap: 20px;*/
    text-align: center;
    div {
        cursor: pointer;
        margin: 15px;
    }
    margin: auto;
}

button {
    display: block;
    margin-top: 20px;
    padding: 8px 15px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    color: var(--background-color);
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    --bGradientHex1: var(--accent-color);
    --bGradientHex2: var(--accent-color);
    background: linear-gradient(38.83deg, var(--bGradientHex1), var(--bGradientHex2));
    transition: --bGradientHex1 .4s, --bGradientHex1 .4s;
}

button:hover {
    --bGradientHex1: var(--background-color);
    --bGradientHex2: var(--background-color);
    color: var(--accent-color);
}

/*#reset-game {
    color: var(--accent-color);
    --bGradientHex1: var(--background-color);
    --bGradientHex2: var(--background-color);
    background: linear-gradient(38.83deg, var(--bGradientHex1), var(--bGradientHex2));
    transition: --bGradientHex1 .4s, --bGradientHex1 .4s;
}

#reset-game:hover {
    --bGradientHex1: var(--accent-color);
    --bGradientHex2: var(--accent-color);
    color: var(--background-color);
}*/

#button-container div a {
    color: var(--accent-color);
    text-decoration: none;
}