body {
    font-family: "IBM Plex Mono", monospace;
    --background-color: #000;
    --accent-color: #00ff77;
    background-color: var(--background-color);
    color: var(--accent-color);
    font-size: .9em;
}

h1 {
    text-align: center;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    display: inline-block;
    margin: 10px;
}

td, th {
    border: 1px solid var(--accent-color);
    padding: 7px;
    min-width: 20px;
}

.table-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.directions {
    margin-top: 50px;
    max-width: 900px;
    margin: 50px auto;
}

@property --bGradientHex1 {
    syntax: "<color>";
    initial-value: #00ff77;
    inherits: false;
}

@property --bGradientHex2 {
    syntax: "<color>";
    initial-value: #00ff77;
    inherits: false;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 8px 15px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    color: var(--background-color);
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    --bGradientHex1: var(--accent-color);
    --bGradientHex2: var(--accent-color);
    background: linear-gradient(38.83deg, var(--bGradientHex1), var(--bGradientHex2));
    transition: --bGradientHex1 .4s, --bGradientHex1 .4s;
}

button:hover {
    --bGradientHex1: var(--background-color);
    --bGradientHex2: var(--background-color);
    color: var(--accent-color);
}

/*#reset-game {
    color: var(--accent-color);
    --bGradientHex1: var(--background-color);
    --bGradientHex2: var(--background-color);
    background: linear-gradient(38.83deg, var(--bGradientHex1), var(--bGradientHex2));
    transition: --bGradientHex1 .4s, --bGradientHex1 .4s;
}

#reset-game:hover {
    --bGradientHex1: var(--accent-color);
    --bGradientHex2: var(--accent-color);
    color: var(--background-color);
}*/